<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Product</h4>
                    </div>
                    <div class="content">
                        <form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Product Name</label>
                                        <input type="text" class="form-control" formControlName="productName" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Prodct Category</label>
                                        <input type="text" class="form-control"  formControlName="productCategory" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="number" class="form-control"  formControlName="quantity" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Unit Price</label>
                                        <input type="text"  formControlName="unitPrice" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Model</label>
                                        <input type="number" class="form-control"  formControlName="model" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">COLOUR</label>
                                        <input type="text"  formControlName="colour" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">image Url</label>
                                        <input type="text"  formControlName="imageUrl" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea rows="4" class="form-control" formControlName="description" placeholder="Here can be product description" value=""></textarea>
                                        </div>
                                    </div>
                                </div>
                  
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Add</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <!-- <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>

