<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Product List</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of myData.existingproducts">
                                        <td> <img src={{data.imageUrl}} alt="" width="100" height="100"></td>
                                        <td>{{data.productName}}</td>
                                        <td>{{data.prodctCategory}}</td>
                                        <td>{{data.model}}</td>
                                        <td>{{data.Quantity}}</td>
                                        <td>{{data.unitPrice}}</td>
                                 
                    
                                        <!-- <td>{{data.description}}</td> -->
                                  
                                        <td>
                                            <a class="btn btn-warning" href='#/product/update/{{data._id}}'>&nbsp;Edit</a>
                                                &nbsp;
                                                <a class="btn btn-danger" (click)="deleteCustomer(data._id)" >Delete</a> &nbsp;
                                     
                                                <a class="btn btn-info" href='#/product/cart/{{data._id}}' >Add to Cart</a>
                                     
                                            </td> 
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
